.vim/view
.vim/plugged
.vim/autoload/plug.vim
.vim/undodir
.vim/.netrwhist

.vifm/*

.xmonad/build-x86_64-linux/
.xmonad/getvolume2.sh
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.errors
.xmonad/xmonad-x86_64-linux
.xmonad/lib/Dzen.hi
.xmonad/lib/Dzen.o

.mutt/offlineimap.pyc

.irssi/config.autosave
.irssi/saved_colors
.irssi/config

.mpd/database
.mpd/log
.mpd/pid
.mpd/state
.mpd/sticker.sql
.mpd/errorlog
.ncmpcpp/error.log
