.vim/view

.xmonad/getvolume2.sh
.xmonad/xmonad.hi
.xmonad/xmonad-hs
.xmonad/xmonad.hs.backup
.xmonad/xmonad.o
.xmonad/xmonad.errors
.xmonad/xmonad-x86_64-linux
.xmonad/lib/Dzen.hi
.xmonad/lib/Dzen.o

.irssi/config.autosave
.irssi/saved_colors
