! Start URxvt daemon tilføjes i xinitrc
!urxvtd -q -o -f &
! xrdb -load ~/.Xresources

URxvt*termName: rxvt-unicode-256color
!URxvt*termName:screen-256color
!urxvt*termName: xterm
!urxvt*termName: xterm-256color

! mouse settings
! Xcursor.theme: Neutral++
Xcursor.theme: Human
Xcursor.size:  32
!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.dpi: 96
Xft.antialias: true
!Xft.antialias: false
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
!Xft.hintstyle: hintslight

Xft.lcdfilter: lcddefault

! --------------------

URxvt*loginShell: true
URxvt.depth: 32
URxvt.geometry: 80x32
XTerm*BellIsUrgent: true
UXTerm*BellIsUrgent: true
URxvt*BellIsUrgent: true
URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.saveLines: 200
URxvt.internalBorder: 3
URxvt.lineSpace: 0



URxvt.transparent: true
! URxvt.background: rgba:1111/1111/1111/dddd
URxvt.background: [95]#000000
! ! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt.shading: 25
!!!! URxvt.fading: 0 !Fade the text by the given percentage when focus is lost; option -fade. 


! IRC
rxvt*modifier: Windows


! Fonts
URxvt.allow_bold: false
!URxvt*font: xft:Monospace:pixelsize=14
!URxvt*boldFont: xft:Monospace:pixelsize=14

!URxvt*font: xft:terminus:pixelsize=15
!URxvt*boldFont: xft:terminus:bold:pixelsize=15

!URxvt*font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
!URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true

!urxvt*font:             xft:DroidSansMono:size=12

!URxvt*font: xft:Droid Sans Mono Slashed for powerline:size=8.5:antialias=true
!URxvt*boldFont: xft:Droid Sans Mono Slashed for powerline:size=8.5:antialias=true

URxvt*font:     xft:Droid Sans Mono :size=11
URxvt*boldFont: xft:Droid Sans Mono :size=11

! Fix font space
!URxvt*letterSpace: -1
 
! Scrollbar
URxvt.scrollBar: false
! scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt.scrollStyle: rxvt
URxvt.scrollBar_right: true
URxvt.scrollColor:          #ffffff


URxvt.iso14755: False 

! how many lines you want it to save per session
URxvt*saveLines:32767

! Perl extensions
! URxvt.perl-ext-common: default,matcher,tabbed,clipboard,confirm-paste,url-select,font,searchable-scrollback,selection-popup,keyboard-select,autocomplete-ALL-the-thin,matchergs, font-size
URxvt.perl-ext-common: default,clipboard
URxvt.matcher.button: 1
! URxvt.urlLauncher: firefox

!URxvt.clipboard.autocopy 
URxvt.keysym.M-c:	    perl:clipboard:copy
URxvt.keysym.M-v:	    perl:clipboard:paste
! URxvt.keysym.Shift-Control-V: perl:clipboard:paste

!! Change font size on Control-Plus/Minus
! URxvt.keysym.Control-0x2b: perl:font-size:increase
! URxvt.keysym.Control-0x2d: perl:font-size:decrease

! Cursor
URxvt.cursorBlink: false
! URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false
 
! Pointer
! True: blank the pointer when a key is pressed or after a set number of seconds of inactivity. False: the pointer is always visible [default]. 
URxvt.pointerBlank: true
 
! URxvt.iconFile: /usr/share/icons/gnome-colors-common/scalable/apps/utilities-terminal.svg
!URxvt.iconFile: /usr/share/icons/gnome-colors-common/16x16/apps/utilities-terminal.png

! ! define colors
! #define S_green         #859900


! ! Molokai colorscheme
! urxvt*foreground: #f8f8f2
! urxvt*background: #1b1d1e
! urxvt*color0: #212121
! urxvt*color1: #e52222
! urxvt*color2: #a6e32d
! urxvt*color3: #fc951e
! urxvt*color4: #c48dff
! urxvt*color5: #fa2573
! urxvt*color6: #67d9f0
! urxvt*color7: #f2f2f2
! urxvt*color8: #212121
! urxvt*color9: #e52222
! urxvt*color10: #a6e32d
! urxvt*color11: #fc951e
! urxvt*color12: #c48dff
! urxvt*color13: #fa2573
! urxvt*color14: #67d9f0
! urxvt*color15: #f8f8f2


! Tango colorscheme med custom fg bg
!! urxvt*background: #1b1d1e
! urxvt*foreground: #000000
! urxvt*color0:  #000000
! urxvt*color8:  #888888
! urxvt*color1:  #111111
! urxvt*color9:  #999999
! urxvt*color2:  #222222
! urxvt*color10: #101010
! urxvt*color3:  #333333
! urxvt*color11: #110110
! urxvt*color4:  #444444
! urxvt*color12: #122222
! urxvt*color5:  #555555
! urxvt*color13: #133333
! urxvt*color6:  #666666
! urxvt*color14: #144444
! urxvt*color7:  #777777
! urxvt*color15: #155555

! moss.vim
urxvt*foreground: #87875f
urxvt*color0:  #2E3436
urxvt*color8:  #555753
urxvt*color1:  #a40000
urxvt*color9:  #EF2929
urxvt*color2:  #4E9A06
! exekverbar#8AE234
urxvt*color10: #00df5f
urxvt*color3:  #C4A000
urxvt*color11: #FCE94F
urxvt*color4:  #3465A4
! mapper #fcaf3e
urxvt*color12: #00df5f
urxvt*color5:  #75507B
urxvt*color13: #AD7FA8
urxvt*color6:  #ce5c00
! links #fcaf3e
urxvt*color14: #729FCF
urxvt*color7:  #babdb9
urxvt*color15: #EEEEEC

! ! Tango colorscheme med custom fg bg
! !! urxvt*background: #1b1d1e
! urxvt*foreground: #f8f8f2
! urxvt*color0:  #2E3436
! urxvt*color8:  #555753
! urxvt*color1:  #a40000
! urxvt*color9:  #EF2929
! urxvt*color2:  #4E9A06
! urxvt*color10: #8AE234 ! exekverbar
! urxvt*color3:  #C4A000
! urxvt*color11: #FCE94F
! urxvt*color4:  #3465A4
! urxvt*color12: #729FCF ! mapper
! urxvt*color5:  #75507B
! urxvt*color13: #AD7FA8
! urxvt*color6:  #ce5c00
! urxvt*color14: #fcaf3e ! links
! urxvt*color7:  #babdb9
! urxvt*color15: #EEEEEC




! !Gnome
! urxvt*foreground: #f8f8f2
! ! black
! URxvt*color0  : #2E3436
! URxvt*color8  : #555753
! ! red
! URxvt*color1  : #CC0000
! URxvt*color9  : #EF2929
! ! green
! URxvt*color2  : #4E9A06
! URxvt*color10 : #8AE234
! ! yellow
! URxvt*color3  : #C4A000
! URxvt*color11 : #FCE94F
! ! blue
! URxvt*color4  : #3465A4
! URxvt*color12 : #729FCF
! ! magenta
! URxvt*color5  : #75507B
! URxvt*color13 : #AD7FA8
! ! cyan
! URxvt*color6  : #06989A
! URxvt*color14 : #34E2E2
! ! white
! URxvt*color7  : #D3D7CF
! URxvt*color15 : #EEEEEC



! ! Zenburn
! urxvt*background:       #0c0d0e
! urxvt*foreground:       #7f8f9f
! ! black + red
! !urxvt*color0:     #3f3f3f
! urxvt*color0:      #101010
! urxvt*color1:      #705050
! ! green + yellow
! urxvt*color2:      #60b48a
! urxvt*color3:      #f0dfaf
! ! blue + purple
! urxvt*color4:      #506070
! urxvt*color5:      #dc8cc3
! ! cyan + white
! urxvt*color6:      #8cd0d3
! urxvt*color7:      #dcdccc
! ! bright-black + bright-red
! urxvt*color8:      #000000
! urxvt*color9:      #dca3a3
! ! bright-green + bright-yellow
! urxvt*color10:     #c3bf9f
! urxvt*color11:     #f0dfaf
! ! bright-blue + bright-purple
! urxvt*color12:     #94bff3
! urxvt*color13:     #ec93d3
! ! bright-cyan + bright-white
! urxvt*color14:     #93e0e3
! urxvt*color15:     #ffffff


! ! mikado colors 
! urxvt*background:        #211708
! urxvt*foreground:        #978f83
! 
! !black
! urxvt*color0:    #322a2c
! urxvt*color8:    #46423b
! !red
! urxvt*color1:    #a04363
! urxvt*color9:    #ae837a
! !green
! urxvt*color2:    #9b9329
! urxvt*color10:   #b4aa30
! !yellow
! !*color3:    #c77920
! urxvt*color3:    #bf7a29
! urxvt*color11:   #c7a551
! !blue
! urxvt*color4:    #6a8c8c
! urxvt*color12:   #74999e
! !magenta
! urxvt*color5:    #856774
! urxvt*color13:   #9c818e
! !cyan
! urxvt*color6:    #757978
! urxvt*color14:   #9fa590
! !white
! urxvt*color7:    #bcbcaf
! urxvt*color15:   #c1c4bc



! ! grålige farver
! urxvt*background:       #000000
! urxvt*foreground:       #717171
! !Black
! URxvt*color0:           #3d3e3d
! URxvt*color8:           #5a5b5c
! !Red
! URxvt*color1:           #755a5b
! URxvt*color9:           #a37679
! !Green
! URxvt*color2:           #68755a
! URxvt*color10:          #87a376
! !Yellow
! URxvt*color3:           #756e5a
! URxvt*color11:          #a39b76
! !Blue
! URxvt*color4:           #5b6976
! URxvt*color12:          #758ba3
! !Magenta
! URxvt*color5:           #755b76
! URxvt*color13:          #9f76a3
! !Cyan
! URxvt*color6:           #5b7674
! URxvt*color14:          #75a3a1
! !White
! URxvt*color7:           #808080
! URxvt*color15:          #aeafb0


! mindre grålige farver
! urxvt*background:       #212629
! urxvt*foreground:       #737c80
! 
! urxvt*cursorColor:      #c1c8c9
! urxvt*colorBD:          #9a7b88  
! !black
! URxvt*color0:           #111313
! URxvt*color8:           #424446
! !red
! URxvt*color1:           #9e6b71
! URxvt*color9:           #b69094
! !green
! URxvt*color2:           #719e6b
! URxvt*color10:          #94b690
! !yellow
! URxvt*color3:           #9e986c
! URxvt*color11:          #b5b18f
! !blue
! URxvt*color4:           #6c8b9e
! URxvt*color12:          #90a7b6
! !magenta
! URxvt*color5:           #986b9e
! URxvt*color13:          #b290b6
! !cyan
! URxvt*color6:           #6b9e98
! URxvt*color14:          #90b6b3
! !white
! URxvt*color7:           #b8baba
! URxvt*color15:          #cdcfce



! ! solareized colorshceme
! !Source http://github.com/altercation/solarized
! ! urxvt*background: #002b36
! !*foreground: #657b83
! urxvt*foreground: #839496
! ! urxvt*fading: 40
! ! urxvt*fadeColor: #002b36
! ! urxvt*cursorColor: #93a1a1
! ! urxvt*pointerColorBackground: #586e75
! ! urxvt*pointerColorForeground: #93a1a1
!  
! ! black dark/light
! urxvt*color0: #073642
! urxvt*color8: #002b36
! !! red dark/light
! urxvt*color1: #dc322f
! urxvt*color9: #cb4b16
! !! green dark/lightexit
! urxvt*color2: #859900
! urxvt*color10: #586e75
! !! yellow dark/light
! urxvt*color3: #b58900
! urxvt*color11: #657b83
! !! blue dark/light
! urxvt*color4: #268bd2
! urxvt*color12: #839496
! !! magenta dark/light
! urxvt*color5: #d33682
! urxvt*color13: #6c71c4
! !! cyan dark/light
! urxvt*color6: #2aa198
! urxvt*color14: #93a1a1
! !! white dark/light
! urxvt*color7: #eee8d5
! urxvt*color15: #fdf6e3
