! xrdb -load ~/.Xresources

! Mouse settings
Xcursor.theme: Human
Xcursor.size:  32

! Xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
! hintfull, hintmedium, hintslight and hintnone
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! IRC
URxvt*modifier: Windows

! Terminal settings -----------------------------------------
URxvt*termName: rxvt-unicode-256color
URxvt.urgentOnBell: true
URxvt.saveLines: 1500
! URxvt*loginShell: true

! Fonts
URxvt*font: xft:Ubuntu Mono:regular:size=14
URxvt*boldfont: xft:Ubuntu Mono:regular:size=14
URxvt.allow_bold: false
! URxvt*font:     xft:Inconsolata:size=14
! URxvt*font:     xft:Terminus:size=14

URxvt.scrollBar: false

! Cursor
URxvt.cursorBlink: false
URxvt.cursorUnderline: false
URxvt.pointerBlank: true

URxvt.transparent: false
! URxvt.background: [100]#111111
! URxvt.background: [95]#000000
! URxvt.shading: 25
! URxvt.fading: 5

! Perl extensions -------------------------
URxvt.perl-lib:         /usr/lib/urxvt/perl/
! URxvt.perl-ext-common: default,matcher,tabbed,clipboard,confirm-paste,url-select,font,searchable-scrollback,selection-popup,keyboard-select,autocomplete-ALL-the-thin,matchergs, font-size
URxvt.perl-ext-common: default,matcher,clipboard,font-size

!URxvt.clipboard.autocopy 
URxvt.keysym.M-c:	    perl:clipboard:copy
URxvt.keysym.M-v:	    perl:clipboard:paste
! URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
! URxvt.keysym.C-S-Up:   perl:font-size:incglobal
! URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.colorUL: #4682B4
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list


! Colors     -------------------------------------------------- 
! !Jagob
! URxvt.cursorColor: #657b83
! URxvt*foreground: #e4e4e4
! ! URxvt*background: [100]#1a1a1a
! URxvt*background: #2a2a2a
! ! black
! URxvt*color0  : #2E3436
! URxvt*color8  : #abab78
! ! red
! URxvt*color1  : #df0000
! URxvt*color9  : #ff0000
! ! green
! URxvt*color2  : #4E9A06
! ! executable, PS1
! URxvt*color10 : #00df5f 
! ! yellow
! URxvt*color3  : #ffaf00
! URxvt*color11 : #ff9a00
! ! blue
! !! irssi cmus 
! URxvt*color4  : #4a914a 
! !! folders
! URxvt*color12 : #5faf5f 
! ! magenta
! URxvt*color5  : #75507B
! URxvt*color13 : #AD7FA8
! ! cyan
! URxvt*color6  : #00afdf
! ! symbolic links
! URxvt*color14 : #00ff5f
! ! white
! URxvt*color7  : #D3D7CF
! URxvt*color15 : #EEEEEC
  


! Solarized
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #5faf5f

! *background:            S_base3
URxvt*background:            S_base2
URxvt*foreground:            S_base00
! URxvt*fading:                5
! URxvt*fadeColor:             S_base03
! URxvt*cursorColor:           S_base1
! URxvt*pointerColorBackground:S_base01
! URxvt*pointerColorForeground:S_base1
!! black dark/light
URxvt*color0:                S_base02
URxvt*color8:                S_base03
!! red dark/light
URxvt*color1:                S_red
URxvt*color9:                S_orange
!! green dark/light
URxvt*color2:                S_green
URxvt*color10:               S_base01
!! yellow dark/light
URxvt*color3:                S_yellow
URxvt*color11:               S_base00
!! blue dark/light
URxvt*color4:                S_blue
URxvt*color12:               S_base0
!! magenta dark/light
URxvt*color5:                S_magenta
URxvt*color13:               S_violet
!! cyan dark/light
URxvt*color6:                S_cyan
URxvt*color14:               S_base1
!! white dark/light
URxvt*color7:                S_base2
URxvt*color15:               S_base3
