# Jagob custom python snippets

snippet exit
import sys; sys.exit()
endsnippet

snippet exist
if os.path.exists(${1}):
	${0}
endsnippet

snippet makedirs
os.makedirs(os.path.dirname(${1:var}), exist_ok=True)
endsnippet

snippet print
print(f'$1: {${1:var}}${0}')
endsnippet

snippet bp
breakpoint()
endsnippet
